.dashboardCard {
  border-radius: 7px;
  background-color: $white;
  box-shadow:  $dashboardBoxShadow ;
  .project-txt {
    color: $projectTxtColor;
    font-size: 28px;
    font-weight: bold;
  }
  .project-helpertxt {
    color: $projectTxtColor;
    font-size: 14px;
  }
  .enabled {
    padding-top: 20px;
    font-size: 28px;
    font-weight: bold;
    padding-bottom: 20px;
  }
  .edge-nodes-app {
    color: $edgeNodeAppBg;
    font-size: 16px;
  }
  .node-app {
    font-size: 22px;
    font-weight: bold;
  }
  .status-icon {
    font-size: 20px;
  }
  .status-enable {
    .edge-app-color {
      background-color:$edgeAppBgEnable
    }
    .edge-node-color {
      background-color: $edgeNodeBgEnable
    }
    .status-icon {
      color: $enabled;
    }
    .node-count {
      color: $edgeNumColor;
    }
    .enabled {
      color: $enabled;
    }
  }
  .status-disable {
    .edge-app-color {
      background-color: $edgeAppBgDisable
    }
    .edge-node-color {
      background-color:$edgeNodeBgDisable
    }
    .status-icon {
      color: $statusIconColor;
    }
    .node-count {
      color: $black;
    }
    .enabled {
      color: $statusIconColor;
    }
  }
}
