.dropDownContainer {
  padding-right: 46px;
  padding-left: 46px;
  .cardborder {
    background-color: $white;
    border-radius: 7px;
    box-shadow: $dashboardBoxShadow 
  }
  .descriptive-insights {
    color: $descriptiveTxtColor;
    font-size: 17px;
    font-weight: 900;
    line-height: 22px;
  }
  .descriptive-helpertxt {
    height: 51px;
    width: 1286px;
    font-size: 15px;
    letter-spacing: 0;
    line-height: 19px;
    color: $descriptiveTxtColor;
    margin-bottom: 20px;
  }
}
