.tooltip-border {
  .infoImage {
    color: $black;
    font-size: 20px;
  }
  .dropdown {
    position: relative;
    &:hover::after {
      content: '';
      position: absolute;
      top: 55%;
      left: 55%;
      transform: translateX(-50%) rotate(180deg);
      border: 0.9375rem solid $white;
      border-color: rgb(233, 230, 230) transparent transparent  transparent ;
      z-index: 3;
    }
    &:hover::before {
      content: attr(data-tooltip);
      position: absolute;
      top: 4rem;
      left: 120%;
      transform: translateX(-50%) translateY(-10px);
      background-color:$white;
      color:$black;
      padding: 2rem;
      border-radius: 0.3125rem;
      box-shadow: 3px 2px 14px 3px rgba(220, 220, 220, 0.5);
      opacity: 1;
      white-space: normal;
      text-align: center;
      z-index: 1;
      font-size: 12px;
      letter-spacing: 0;
      line-height: 15px;
      width: 220px;
      height:auto;
      border-radius:5px;
    }
  }
}
